name: Build pipeline

on:
  push:
    branch:
      - master

jobs:
  Testing:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
      - name: Unittesting
        run: |
          tox
      - name: Linting
        run: |
          python -m pylint --rcfile= .pylintrc $(git ls-files '*.py')
      - name: Package
        run: |
          python -m pip install .
 